WBP_USERNAME=
WBP_PASSWORD=
WBP_BASE_URL=https://golf.westbeachparks.com.au

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_APP_PASSWORD=
NOTIFY_TO=

MOCK_BASE_URL=http://localhost:8000
USE_MOCK=true
